<!doctype html>
<html>

<head>
	<title>Wetterstation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../stuff/w3.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="../stuff/font-awesome-4.5.0/css/font-awesome.css">
</head>
<body>
	<nav class="w3-sidenav w3-collapse w3-light-grey w3-center">
		<div class="closeNav"><i class="fa fa-close fa-3x"></i></div>
		<ul class="w3-ul">
			<li>
				<div class="rowTest">
					<div class="three-col"><i class="fa fa-clock-o fa-2x"></i></div>
					<div class="three-col"><i class="fa fa-asterisk fa-2x"></i></div>
					<div class="three-col"><i class="fa fa-tint fa-2x"></i></div>
				</div>
			</li>
		</ul>
		<ul class="w3-ul averageList"></ul>
	</nav>
	<div class="w3-container"><h1>Wetterstation</h1></div>
	<div class="w3-row">
		<div id="container" class="w3-half"></div>
		<div id="gaugeChart" class="w3-half"></div>
	</div>
	<div class="w3-modal" id="averagePopup">
		<div class="popup">
			<div class="popupClose">
				<i class="fa fa-close fa-2x"></i>
			</div>
			<h2>Datum</h2><hr>
			<div class="w3-row">
				<div class="w3-half" id="averageTemp">Durchschnittliche Temperatur <h3></h3></div>
				<div class="w3-half" id="averageHum">Durchschnittliche Luftfeuchtigkeit<h3></h3></div>
			</div>
		</div>
	</div>

	<div class="w3-row w3-center">
		<div id="cal" class="w3-half w3-dark-grey"></div>
		<!--<div class="w3-half" id="liveData">
			<div class="liveTemp">
				<h3><i class="fa fa-asterisk"></i><span>Temperatur</span> &deg;C</h3>
			</div>
			<div class="liveHum">
				<h3><i class="fa fa-tint"></i><span>Luftfeuchtigkeit</span> %</h3>
			</div>
		</div>
		-->
		<div class="w3-half averageContainer w3-deep-orange w3-large">Verlauf der letzten Stunden anzeigen</div>
	</div>
	<script type="text/javascript" src="../stuff/jquery1.12.js"></script>
	<script type="text/javascript" src="../stuff/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="../stuff/moment.js"></script>
	<script type="text/javascript" src="js/moment_de.js"></script>
	<script type="text/javascript" src="../stuff/underscore.js"></script>
	<script src="../stuff/clndr/src/clndr.js"></script>
	<script type="text/template" id="cal-template">
		<button class="clndr-today-button w3-btn w3-hover-light-grey">Heute</button>
		<div class="rowTest clndr-controls">
			<div class="left">
				<button class="w3-btn w3-hover-white clndr-previous-button">
					<i class="fa fa-angle-left fa-1x"></i>
				</button>
			</div>
			<div class="current-month center">
				<h4><%= month %> <%= year %></h4>
			</div>
			<div class="right">
				<button class="w3-btn w3-hover-white clndr-next-button">
					<i class="fa fa-angle-right fa-1x"></i>
				</button>
			</div>
		</div>
		<div>
			<div class="w3-row">
				<% _.each(daysOfTheWeek, function(day) { %>
					<div class="days-of-week w3-center"><%= day %></div>
				<% }); %>
			</div>
			<div class="w3-row day-container">
				<% _.each(days, function(day) { %>
					<div class="clndr-days w3-center <%= day.classes %>" id="<%= day.date %>">
						<%= day.day %>
					</div>
				<% }); %>
			</div>
		</div>
	</script>
	<script type="text/javascript" src="../stuff/Highcharts/js/highcharts.js"></script>
	<script src="../stuff/Highcharts/js/highcharts-more.js"></script>
	<script src="../stuff/Highcharts/js/modules/solid-gauge.js"></script>
	<script type="text/javascript" src="js/site.js"></script>
</body>

</html>
